.blog-post-image img {
    box-shadow: -2rem 2rem 0 $mainAccentColor;
}

.article-text {
    border: 3px solid $mainAccentColor;
    border-right: none;
    border-top: none;
}

.yet-another-accent-color-link,
.date-and-author-comment,
.article-date,
.author {
    color: $yetAnotherAccentColor;
}

#blog-page aside {
    width: 50%;
}

.aside-text {
    background-color: white;
}

aside .recent-posts li::before {
  content: "• ";
  color: $secondaryAccentColor;
  padding: 0 1rem;
}

.comment {
    display: flex;
}

.headshot {
    margin-right: 2rem;
}

.comment-text p {
    margin-top: 0;
}

.date-and-author-comment {
    margin: 0;
}

.leave-a-comment {
    margin: 0;
}

.comment-form input,
#blog-page fieldset {
    background-color: $secondaryFontColor;
}

.leave-a-comment {
    display: flex;
    flex-wrap: wrap;
}

#blog-page {
    display: grid;
    grid-template-columns: 1fr calc(.35 * 85%) calc(.65 * 85%) 1fr;
    grid-template-rows: auto 25rem repeat(5, auto);
    background-color: $secondaryFontColor;
}

.blog-post-image {
    grid-area: 3 / 3 / span 2 / span 2;
}

.blog-main {
    grid-area: 5 / 3 / span 2 / span 1;
}

.blog-aside-image {
    grid-area: 4 / 1 / span 2 / span 2;
}

.blog-aside {
    grid-area: 6 / 2 / span 1 / span 1;
}
