.what-is-planted {
    text-align: center;
    padding-bottom: 20rem;
}

.what-is-planted h2 {
    margin: 0;
    padding-top: 20rem;
}

.articles {
    background-color: white;
    display: flex;
    
}

.flower-text {
    padding: 5rem;
    margin: 4rem;
}

.flower-article1 .flower-text {
    text-align: right;
}

.shadow-image-left {
    position: relative;
    top: -4rem;
    left: 0;
    box-shadow: 2rem 2rem 0 $mainAccentColor;
}

.shadow-image-right {
    position: relative;
    bottom: -4rem;
    margin-left: auto;
   
    box-shadow: -2rem 2rem 0 $mainAccentColor;
}

section.info {
    display: flex;
    flex-wrap: wrap;
    padding: 15rem 0 10rem;
}

.icon-group {
    flex-basis: 50%;
    display: flex;
}

.fas {
    background-color: $mainAccentColor;
    border-radius: 50%;
    width: 4rem;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.info-section-text {
    margin-left: 2rem;
}

.info-section-text h2 {
    margin: 0;
}


.founder-bio {
    display: flex;
    align-items: center;
}

.founder-image {
    flex-basis: 33%;
}

.founder-text {
    flex-basis: 60%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-bottom: 6rem;
}

.founder-text h2 {
    margin: 0;
    padding-top: 10rem;
}

.founder-text .button {
    margin: 3rem 0;
}

.photo-gallery {
    background-color: white;
    padding-top: 1rem;
}

.flex-gallery {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3rem;
    padding: 4rem;
}

.flex-gallery li {
    margin: 2rem;
}