.subscribe {
    position: fixed;
    top: 5%;
    left: 20%;
    height: 90%;
    width: 60%;
    text-align: center;
    background-color: white;
    border: 5px solid $mainAccentColor;
    z-index: 10;
}

.x-out {
    position: absolute;
    top: 0;
    right: 0;
    // font-size: 1.5rem;
}

#modal-title {
    padding-top: 8rem;
}

.subscribe-modal {
    padding: 2rem;
    text-align: center;
    button {
        padding: 2rem;
        margin: 2rem; 
        height: 5%;
        width: 50%;
    }
}

input {
    width: 90%;
    line-height: 2;
}

.form-inputs {
    margin-bottom: 3rem;
    input[type="email"] {
        margin-left: 0;
    }
}

button:hover,
button:focus {
    border: 5px solid $mainAccentColor;
}